* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

.contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  -ms-grid-rows: 5% 75%;
      grid-template-rows: 5% 75%;
      grid-template-areas: "header header" "menuLat main";
}

.header {
  background-color: yellow;
  color: black;
  padding: 20px;
  z-index: 200;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  color: black;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header .header__logo--menu {
  display: block;
  font-size: 25px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.header .header__logo--logo {
  margin-left: auto;
}

.header .header__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__busqueda input {
  min-width: 60%;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  border: 1px solid white;
  font-size: 16px;
}

.header .header__busqueda button {
  height: 35px;
  border: 1px solid white;
  border-left: none;
  color: black;
  background-color: white;
  padding: 0 25px;
  cursor: pointer;
}

.header .header__derecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header .header__derecha img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menuLateral {
  background-color: black;
  color: white;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menuLat;
  position: fixed;
  top: 75px;
  bottom: 0;
  width: 15%;
  overflow-y: auto;
}

.menuLateral .menuLateral__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 20%;
}

.menuLateral .menuLateral__nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 19px;
  color: white;
  font-size: 25px;
}

.menuLateral .menuLateral__nav a i {
  font-size: 25px;
  margin-right: 10px;
}

.menuLateral .menuLateral__nav a:hover {
  background: #4c4b4b;
}

.menuLateral .menuLateral__nav a.active {
  background: #4c4b4b;
  font-weight: bold;
}

.menuLateral .menuLateral__nav a.active .fa-solid {
  color: #4c4b4b;
}

.menuLateral .menuLateral__nav hr {
  color: white;
  margin: 30px 0;
  border: none;
}

.main {
  background-color: white;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  padding: 0;
  margin-left: 15%;
}

.main__titulo {
  margin-bottom: 20px;
}

.main .grid-videos {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.main .grid-videos .video {
  width: 100%;
  display: block;
}

.main .grid-videos .video img {
  width: 100%;
}

.right-sidebar {
  background-color: #f8f8f8;
  padding: 20px;
  height: 100vh;
}

@media (max-width: 768px) {
  .contenedor {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% 85% 5%;
        grid-template-rows: 10% 85% 5%;
        grid-template-areas: "header" "main" "menuLat";
  }
  .header {
    background-color: yellow;
    color: black;
    z-index: 200;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .header .header__logo {
    display: none;
  }
  .header .header__busqueda {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .header__derecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__derecha .header__derecha--subir {
    display: none;
  }
  .main {
    margin-left: 0;
  }
  .main .grid-videos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main .grid-videos .video {
    margin-bottom: 20px;
  }
  .menuLateral {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: menuLat;
    top: unset;
    bottom: 0;
    width: 100%;
    height: auto;
    position: fixed;
  }
  .menuLateral .menuLateral__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
  }
  .menuLateral .menuLateral__nav span {
    display: none;
  }
  .menuLateral .menuLateral__nav hr {
    display: none;
  }
  .menuLateral .menuLateral__nav a {
    padding: 5px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */