* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

.contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  -ms-grid-rows: 5% 75%;
      grid-template-rows: 5% 75%;
      grid-template-areas: "header header" "menuLat main";
}

.contenedor .header {
  background-color: yellow;
  color: black;
  padding: 20px;
  z-index: 200;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.contenedor .header .header__logo {
  color: black;
}

.contenedor .header .header__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .header .header__busqueda button {
  height: 35px;
  border: 1px solid white;
  border-left: none;
  color: black;
  background-color: white;
  padding: 0 25px;
  cursor: pointer;
}

.contenedor .header .header__busqueda input {
  min-width: 60%;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  border: 1px solid white;
  font-size: 16px;
}

.contenedor .header .header__derecha--avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.contenedor .header .header__derecha--avatar img {
  vertical-align: top;
  width: 100%;
  border-radius: 100px;
}

.contenedor .menuLateral {
  background-color: black;
  color: white;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menuLat;
  position: fixed;
  top: 75px;
  bottom: 0;
}

.contenedor .menuLateral .menuLateral__nav a {
  display: block;
  padding: 30px 19px;
  color: white;
  font-size: 25px;
}

.contenedor .menuLateral .menuLateral__nav a i {
  font-size: 25px;
  margin-right: 30px;
}

.contenedor .menuLateral .menuLateral__nav a:hover {
  background: #4c4b4b;
}

.contenedor .menuLateral .menuLateral__nav a.active {
  background: #4c4b4b;
  font-weight: bold;
}

.contenedor .menuLateral .menuLateral__nav a.active .fa-solid {
  color: #4c4b4b;
}

.contenedor .menuLateral .menuLateral__nav hr {
  color: white;
  margin: 100px 0;
  border: none;
}

.contenedor .main {
  background-color: white;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  padding: 0;
  margin-right: 100px;
}

.contenedor .main__titulo {
  margin-bottom: 20px;
}

.contenedor .main .grid-videos {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.contenedor .main .grid-videos .video {
  width: 100%;
  display: block;
}

.contenedor .main .grid-videos .video img {
  width: 100%;
}

.contenedor .right-sidebar {
  background-color: #f8f8f8;
  padding: 20px;
  height: 100vh;
}

.menuLateral__cerrado {
  width: 75px;
}

@media (max-width: 768px) {
  .contenedor {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 15% 70% 15%;
        grid-template-rows: 15% 70% 15%;
        grid-template-areas: "header" "main" "menuLat";
  }
}
/*# sourceMappingURL=main.css.map */