* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Oswald;
  margin: 0;
  padding: 0;
  background-color: black;
  /* -----------MENU LATERAL-------------- */
}

body .menuLateral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: black;
  color: white;
  height: 100vh;
  width: 250px;
  overflow: hidden;
  border-right: 1px gray solid;
}

body .menuLateral .menuLateral__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .menuLateral .menuLateral__nav a {
  display: block;
  padding: 30px 19px;
  color: white;
  text-decoration: none;
}

body .menuLateral .menuLateral__nav a i {
  font-size: 20px;
  margin-right: 30px;
}

body .menuLateral .menuLateral__nav a:hover {
  background: #4c4b4b;
}

body .menuLateral .menuLateral__nav a.active {
  background: #4c4b4b;
  font-weight: bold;
}

body .menuLateral .menuLateral__nav a.active .fa-solid {
  color: #4c4b4b;
}

body .menuLateral .menuLateral__nav hr {
  color: white;
  margin: 100px 0;
  border: none;
}

body .main {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 450px;
  padding: 20px 20px;
  width: 1300px;
  max-width: 1700px;
  border-radius: 50px;
}

body .main .header {
  background-color: yellow;
  color: black;
  text-decoration: none;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  width: 1200px;
  height: 210px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

body .main .header .header__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .header .header__avatar img {
  width: 170px;
  height: 170px;
  border-radius: 150px;
  margin: 20px auto;
}

body .main .header .header__ajustes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  margin: 20px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .main .header .header__ajustes h1 {
  font-size: 30px;
  padding-right: 20px;
}

body .main .header .header__ajustes i {
  text-decoration: none;
  color: black;
  font-size: 30px;
  padding-top: 5px;
}

body .main .header .header__seguiRol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 20px;
}

body .main .header .header__seguiRol--segui a {
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

body .main .header .header__seguiRol--roles h6 {
  margin-bottom: 10px;
}

body .main .header .header__seguiRol--roles ul {
  list-style-type: none;
}

body .main .header .header__seguiRol--roles ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

body .main .header .header__seguiRol--roles ul li i.fa-check {
  margin-right: 5px;
}

body .main .main__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1200px;
  margin: 10px 0;
  border-top: 1px white solid;
}

body .main .main__tab .nav-link {
  margin-right: 10px;
  color: white;
}

body .main .main__tab .nav-link i {
  margin-right: 10px;
}

body .main .main__tab .nav-link fa-film {
  font-size: 9px;
}

body .main .main__metrajes {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 1200px;
  height: 1074px;
}

body .main .main__metrajes .video {
  width: 100%;
  display: block;
}

body .main .main__metrajes .video img {
  width: 100%;
}
/*# sourceMappingURL=Perfil.css.map */